body {
  font-family: 'Serif';
  font-weight: 700;
  background-color: #fff;
  color:#625656;
}

.container {
  max-width: 1142px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  position: relative;
  display: block;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 32px;

  &::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 90%;
    background-color: #E45128;
    bottom: 6px;
    margin-left: 10px;
  }
}